- @title = 'Black Label - 10'

#wrapper
  %header
    %h1
      Planets
  #balls
    .ball.ball-1
      .shadow
      .circle
        %span
          //Ball 1
      %audio{ :preload => "auto", :id => "sound" }
        %source{ :src => "audio/rollover1.mp3" }
    .ball.ball-2
      .shadow
      .circle
        %span
          //Ball 2
    .ball.ball-3
      .shadow
      .circle
        %span
          //Ball 3
    .ball.ball-4
      .shadow
      .circle
        %span
          //Ball 4
    .ball.ball-5
      .shadow
      .circle
        %span
          //Ball 5
    .ball.ball-6.mute
      .circle
        %span
          //Ball 6